<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gonzalesmaridelle_option3">

    <!-- Declare SMS permission -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/weight_tracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GonzalesMaridelle_Option3">

        <!-- Login Activity (Main entry point) -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/weight_tracker"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Weight Activity -->
        <activity
            android:name=".AddWeightActivity"
            android:exported="true" />

        <!-- Main Activity (Weight Entries) -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Create Account Activity -->
        <activity
            android:name=".CreateAccountActivity"
            android:exported="true" />

        <!-- SMS Permission Activity -->
        <activity
            android:name=".SMSPermissionActivity"
            android:exported="false" />

        <!-- Item Weight Entry Activity -->
        <activity
            android:name=".ItemWeightEntryActivity"
            android:exported="false" />

    </application>

</manifest>
